.password-container {
    position: relative;

    .password-input {
        padding-right: 35px;
    }

    .eye-icon {
        position: absolute;
        top: 40px;
        right: 12px;
        cursor: pointer;
    }
}