// Button colors
$primary-btn: #133D7A;

//Link colors
$primary-link: #1676F3;
$primary-link-inactive: #333;

//Label colors: 
$primary-label: rgba(27, 43, 65, 0.72);

//Border colors:
$primary-border: rgba(27, 43, 65, 0.72);
$card-primary-border: rgba(0, 0, 0, 0.18);
$primary-seperator-border: rgba(0, 0, 0, 0.21);

//Input colors:
$primary-input: rgba(27, 43, 65, 0.72);
$primary-input-placeholder: rgba(27, 43, 65, 0.4);

//Box shadow colors:
$primary-box-shadow: rgba(0, 0, 0, 0.10);

//Typography colors:
$primary-text: #000;
$secondary-text: rgba(26, 41, 61, 0.83);

