@import "colors";

body,
.container {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.app-container {
    height: calc(100vh - 77px);
}

a {
    color: $primary-link;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.box-shadow-0 {
    box-shadow: none;
}

@media (max-width: 992px) {
    a {
        font-size: 12px;
    }

    .text-xs-end {
        text-align: right !important;
    }
}